<%- include('partials/head') %>
<%- include('partials/navbar') %>
    <h1>
        The Home Page
        <%= '--- hello hello again'.toUpperCase() %>
    </h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque amet officiis perferendis iste excepturi velit deleniti reiciendis dignissimos delectus soluta quis, ea consequuntur optio animi maiores nulla quam, omnis eius?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem qui quidem veniam debitis deleniti velit aspernatur vitae reiciendis voluptas voluptatibus fugiat nostrum aperiam, animi unde esse commodi laudantium! Rem, est.
    </p>
</body>
</html>